@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #fafbff;
  --color-black: #141519;
  --color-primary: #319ef1;
  --color-secundary: #0f1d37;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: var(--primary-font), sans-serif;
  scroll-behavior: smooth;
  background-color: #000;
  min-height: 100vh;
}

.dg.ac{z-index: 99!important;display: block;}

.dg li.save-row .button.gears{
  width: 16px!important;
  height: 16px!important;
}

.dg li.save-row {
  background: #2b2a2a!important;
}

.dg li.save-row .button {
  color: #000!important;
}

.dg ul {
  background: #000;
}

.dg li.color input{
  border: dashed 1px #fff!important;
}

#debug_modal_config_export{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000ae;
  z-index: 99;
  display: none;;
}

#debug_modal_config_export.show{
  display: block;
}

#debug_modal_config_export_body{
  width: 90%;
  height: 90%;
  max-width: 600px;
  background-color: #000;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap:20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#debug_modal_config_export_txt{
  width: 100%;
  height: calc(100% - 50px);
}

#debug_modal_config_export_actions{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#debug_modal_config_export_button_close,#debug_modal_config_export_button_copy{
  height: 20px;
  height: 30px;
  background: #d2d1d1;
  padding: 5px 10px;
  border-radius: 5px;
}

#debug_modal_config_export_button_copy{
  background: #060ea5;
  color:#fff;
}


