@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #fafbff;
  --color-black: #141519;
  --color-primary: #319ef1;
  --color-secundary: #0f1d37;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--primary-font), sans-serif;
}


.dg.ac{z-index: 99!important;display: block;}

