.section{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    height: calc(100vh - 64px);
    /* padding:120px 20px 0 20px; */
    padding: 0 20px;
}

.subtitle{
    color: var(--color-white);
    font-size: clamp(10px, 1vw, 12px);
    max-width: 500px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 90%;
    text-transform: uppercase;
}

.title{
    color: var(--color-white);
    font-size: clamp(20px, 8vw, 70px);
    text-transform: uppercase;
    max-width: 400px;
    font-weight: 600;
    line-height: 90%;
}

.description{
    color: var(--color-white);
    font-size: clamp(16px, 2.5vw, 24px);
    max-width: 500px;
    margin-top: 20px;
    font-weight: 400;
    line-height: 90%;
}

.primaryText{
    color: #24eafb;
}

.cta{
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.cta button{
    background-color: #24eafb;
    color: #3e4242;
    font-weight: 600;
}

.bgMain{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: #000000;
}

.bgMain img{
    width: 100%;
    height: auto;
}