.LayoutWrapper{
    position:relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    z-index: 4;
    pointer-events: all;
}

/* .LayoutWrapper.light{
    background-color: #fff;
}

.LayoutWrapper.dark{
    background-color: #000;
} */

.LayoutWrapper.pointerEventsNone{
    pointer-events: none;
}