.MainNavigation{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:30px;
}

.MainNavigation.horizontal{
    flex-direction: row;
}

.MainNavigation.vertical{
    flex-direction: column;
}

.button{
    color:#EB00FF;
}

.MainNavigation.dark .link{
    color: #D7D7D7;
    font-weight: 300;
    cursor: pointer;
}

.MainNavigation.dark .selected{
    font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
}

.MainNavigation.light .link{
    color: #1d1c1c;
    font-weight: 300;
    cursor: pointer;
}

.MainNavigation.light .selected{
    font-weight: 400;
    color: #000000;
    cursor: pointer;
}