.MainNavigation{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:30px;
}

.MainNavigation.horizontal{
    flex-direction: row;
}

.MainNavigation.vertical{
    flex-direction: column;
}

.button{
    color:#EB00FF;
}

.link{
    color: #D7D7D7;
    font-weight: 300;
}

.selected{
    font-weight: 400;
    color: #FFFFFF;
}