.TextRotated{
    position: absolute;
    top:50%;
    left: 0;
    z-index: 4;
    transform: translate(-70px,-50%) rotate(-90deg);
    transition: all .3s linear;
    opacity: 1;
}

.TextRotated.hide{
    opacity: 0;
}

.TextRotated span{
    color:#BEB3C0;
}